#app-main {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    color: var(--color-tone-white);
    background-color: var(--color-tone-blue);

    .game {
        height: 100%;
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding: 0 6px 0 6px;

        .header-container {
            width: 100%;
            max-height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--color-tone-darkergray);
            padding: 4px 0 4px 0;

            .icons {
                display: flex;
                flex-direction: row;

                svg {
                    width: 32px;
                    height: 32px;
                    padding: 0 4px;
                }
            }
        }

        .board {
            flex-grow: 1;
            margin-top: 12px;
            margin-bottom: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 100%;

            .row {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 100%;
                max-width: 330px;
                max-height: 62px;

                &.shake {
                    animation-name: shake;
                    animation-duration: 450ms;
                }

                &.slam-down {
                    animation-name: slam-down;
                    animation-duration: 300ms;
                }

                &.slam-up {
                    animation-name: slam-up;
                    animation-duration: 300ms;
                }

                &.move-up {
                    animation: move-up-lg 200ms forwards;

                    @media (max-height: 800px) {
                        animation: move-up-md 200ms forwards;
                    }
                }

                &.move-down {
                    animation: move-down-lg 200ms forwards;

                    @media (max-height: 800px) {
                        animation: move-down-md 200ms forwards;
                    }
                }

                &.pop-in {
                    animation: pop-in 150ms;
                }

                &.letter-pop {
                    animation: letter-pop 100ms;
                }

                .letter-container {
                    width: 100%;
                    height: 18vw;
                    max-height: 62px;
                    border: 2px solid var(--color-tone-darkgray);
                    background-color: none;
                    box-sizing: border-box;
                    border-radius: 6px;
                    margin: 0 2px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 32px;
                    font-weight: bold;
                    text-transform: uppercase;
                    transition: transform 180ms;

                    &.center {
                        height: 18.2vw;
                        max-height: 76px;
                    }

                    &.current {
                        border: 2px solid var(--color-tone-lightgray);
                        animation-name: letter-pop;
                        animation-duration: 120ms;
                    }

                    &.has-text {
                        border: 2px solid var(--color-tone-gray);
                    }

                    &.match {
                        background-color: var(--color-tone-green);
                        border: 2px solid var(--color-tone-green);
                    }

                    &.fold {
                        animation-name: fold;
                        animation-duration: 0.35s;
                    }
                }
            }

            .elipsis {
                transform: rotate(90deg);

                @media (max-height: 700px) {
                    transform: none;
                }

                svg {
                    width: 36px;
                    height: 36px;
                }
            }

            .center {
                max-width: 400px;
                max-height: 76px;
                height: 18.2vw;
            }
        }

        app-keyboard {
            width: 100%;
        }

        .info-msg {
            position: absolute;
            top: 82px;
            padding: 16px 24px;
            background-color: var(--color-tone-gray);
            color: var(--color-tone-white);
            border-radius: 8px;
            font-size: 16px;
            font-weight: bold;
            opacity: 0;
            z-index: 1;

            &.show {
                opacity: 1;
            }

            &.fade-out {
                opacity: 0;
                transition: opacity 500ms;
            }
        }

        .pop-up-container {
            background-color: var(--bkg-color-transparent);
            position: absolute;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            visibility: hidden;
            display: flex;

            &.show {
                visibility: visible;
            }

            .content {
                position: absolute;
                width: 300px;
                height: auto;
                background-color: var(--color-tone-blue);
                display: flex;
                flex-direction: column;
                border: 1px solid var(--color-tone-lightblue);
                border-radius: 8px;
                box-shadow: 0 10px 25px -5px rgb(0 0 0 / 0.2), 0 4px 10px -6px rgb(0 0 0 / 0.1);
                opacity: 0;
                transform: translateY(-60px);
                transition: all 300ms ease-out;

                &.show {
                    opacity: 1;
                    transform: translateY(0);
                }

                &.share {
                    height: auto;
                }

                &.help {
                    width: 350px;
                    height: auto;
                }

                .heart-message {
                    color: var(--color-tone-white);
                    margin: 6px 16px 6px 16px;

                    &.last {
                        padding-bottom: 12px;
                    }
                }

                .button {
                    display: flex;
                    justify-content: center;
                    margin-top: 22px;
                }

                .other-games-head {
                    margin: 26px 16px 6px 16px;
                    font-size: small;
                    color: var(--color-tone-lightgray);
                    font-weight: 700;
                }

                .game-title {
                    font-size: 12px;
                    color: var(--color-tone-white);
                    margin: 12px 16px 6px 16px;

                    a {
                        color: var(--color-tone-white);
                    }
                }

                .twitter {
                    display: flex;
                    margin: 8px 20px 12px 20px;
                    justify-content: flex-end;
                }

                .stats-sub-header {
                    text-align: center;
                    margin: 6px 0 6px 0;
                    color: var(--color-tone-lightgray);
                }

                .stats-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 38px;
                    border-bottom: 1px solid var(--color-tone-darkergray-2);

                    &.top {
                        border-top: 1px solid var(--color-tone-darkergray-2);
                    }

                    .left {
                        background-color: var(--color-tone-darkerblue);
                        width: 106%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-end;
                        text-align: right;
                        align-items: center;
                        padding-right: 12px;
                    }

                    .right {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        padding-left: 12px;
                    }
                }

                .bottom-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 32px;
                    margin-top: 38px;

                    .timer-container {
                        display: flex;
                        flex-direction: column;
                        font-weight: 700;
                        padding: 0 12px 0 8px;
                        margin-left: -8px;
    
                        .header {
                            font-size: large;
                            text-align: center;
                        }
    
                        .timer {
                            font-size: xx-large;
                            text-align: center;
                        }
                    }

                    button {
                        background-color: var(--color-tone-green);
                        color: var(--color-tone-white);
                        font-weight: bold;
                        font-size: 14px;
                        padding: 12px 14px;
                        border-radius: 4px;
                        border: none;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        margin-left: 12px;
                        margin-bottom: 4px;

                        &.give-up {
                            background-color: var(--color-tone-red);
                            padding: 16px 18px;
                        }
                        
                        svg {
                            padding-left: 8px;
                        }
                    }
                }
            }
        }
    }

    @keyframes letter-pop {
        0% { transform: scale(1); }
        50% { transform: scale(1.05); }
        100% { transform: scale(1); }
    }

    @keyframes shake {
        10%,
        90% {
            transform: translateX(-1px);
        }

        20%,
        80% {
            transform: translateX(2px);
        }

        30%,
        50%,
        70% {
            transform: translateX(-3px);
        }

        40%,
        60% {
            transform: translateX(3px);
        }
    }

    @keyframes fold {
        50% {
            transform: scaleX(0.0001);
        }

        100% {
            transform: scaleX(1);
        }
    }

    @keyframes slam-down {
        50% {
            transform: translateY(10px);
        }

        70% {
            transform: translateY(-10px);
        }

        90% {
            transform: translateY(2px);
        }

        100% {
            transform: translateY(-2px);
        }
    }

    @keyframes slam-up {
        50% {
            transform: translateY(-10px);
        }

        70% {
            transform: translateY(10px);
        }

        90% {
            transform: translateY(-2px);
        }

        100% {
            transform: translateY(2px);
        }
    }

    @keyframes move-up-lg {
        100% {
            transform: translateY(-220px) scale(0.9);
            opacity: 0;
        }
    }

    @keyframes move-up-md {
        100% {
            transform: translateY(-120px) scale(0.9);
            opacity: 0;
        }
    }

    @keyframes move-down-lg {
        100% {
            transform: translateY(220px) scale(0.9);
            opacity: 0;
        }
    }

    @keyframes move-down-md {
        100% {
            transform: translateY(120px) scale(0.9);
            opacity: 0;
        }
    }

    @keyframes pop-in {
        1% {
            transform: scale(0.1);
            opacity: 0;
        }

        90% {
            transform: scale(1.15);
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
}