<div id="app-main">
    <div class="game">
        <!-- HEADER -->
        <div class="title-container">
            <h1> INTER | WORD </h1>
        </div>
        <!-- GAME BOARD -->
        <div class="board">
            <div class="row" *ngFor="let row of rows">
                <div class="letter-container" *ngFor="let letter of row.letters"
                    [class.match]="letter.state === LetterState.MATCH"
                    [class.wrong]="letter.state === LetterState.WRONG"
                    [class.invalid]="letter.state === LetterState.INVALID"
                    [class.bookend]="letter.state === LetterState.BOOKEND">
                    {{ letter.text }}
                </div>
            </div>
        </div>
        <!-- KEYBOARD -->
        <app-keyboard (keyClickEvent)="handleClickKey($event)"></app-keyboard>
    </div>
</div>
