<div id="app-main">
    <div class="game">
        <!-- HEADER -->
        <div class="header-container">
            <h1> INTERWORD </h1>
            <div class="icons">
                <div class="social">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="var(--color-tone-white)" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                    </svg>
                </div>
                <div class="help">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path fill="var(--color-tone-white)" d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"></path>
                    </svg>
                </div>
                <div class="stats">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path fill="var(--color-tone-white)" d="M16,11V3H8v6H2v12h20V11H16z M10,5h4v14h-4V5z M4,11h4v8H4V11z M20,19h-4v-6h4V19z"></path>
                    </svg>
                </div>
            </div>
        </div>
        <!-- ALPHABET -->
        <div class="alphabet">
            <div class="letter" *ngFor="let letter of alphabet">{{letter}}</div>
        </div>
        <!-- GAME BOARD -->
        <div class="board">
            <div class="row">
                <div class="letter-container" *ngFor="let letter of rows[0].letters"
                    [class.match]="letter.state === LetterState.MATCH"
                    [class.bookend]="letter.state === LetterState.BOOKEND">
                    {{ letter.text }}
                </div>
            </div>
            <div class="elipsis">
                <svg xmlns="http://www.w3.org/2000/svg" fill="var(--color-tone-darkgray)" class="bi bi-three-dots" viewBox="0 0 16 16">
                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                </svg>
            </div>
            <div class="row center">
                <div class="letter-container center" *ngFor="let letter of rows[1].letters"
                    [class.match]="letter.state === LetterState.MATCH"
                    [class.current]="rows[1].letters.indexOf(letter) === letterIndex"
                    [class.bookend]="letter.state === LetterState.BOOKEND">
                    {{ letter.text }}
                </div>
            </div>
            <div class="elipsis">
                <svg xmlns="http://www.w3.org/2000/svg" fill="var(--color-tone-darkgray)" class="bi bi-three-dots" viewBox="0 0 16 16">
                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                </svg>
            </div>
            <div class="row">
                <div class="letter-container" *ngFor="let letter of rows[2].letters"
                    [class.match]="letter.state === LetterState.MATCH"
                    [class.bookend]="letter.state === LetterState.BOOKEND">
                    {{ letter.text }}
                </div>
            </div>
        </div>
        <!-- ATTEMPT TRACKER -->
        <div class="attempt-counter">
            <div class="attempt-label">
                Attempts
            </div>
            <div class="circle-container">
                <div class="circle" *ngFor="let _ of [].constructor(numberAttempts)">
                    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="50" cy="50" r="50" fill="none" stroke="var(--color-tone-gray)" stroke-width="4"/>
                    </svg>
                </div>
            </div>
        </div>
        <!-- KEYBOARD -->
        <app-keyboard (keyClickEvent)="handleClickKey($event)"></app-keyboard>
    </div>
</div>
