body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    --color-tone-white: #f5f5f5;
    --color-tone-lightgray: #a9a9a9;
    --color-tone-gray-2: #909090;
    --color-tone-gray: #787878;
    --color-tone-darkgray: #505050;
    --color-tone-darkergray: #404040;
    --color-tone-darkergray-2: #303030;
    --color-tone-green: #349247;
    --color-tone-red: #924734;
    --color-tone-lightblue: #131d36;
    --color-tone-blue: #0f172a;
    --color-tone-darkerblue: #0b111f;
    --bkg-color-transparent: #070b148e;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 0.3rem;

    @media (max-width: 450px) {
        font-size: 26px;
        margin-left: 2px;
    }
}

h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    color: #a9a9a9;
    margin: 12px 0 6px 16px;
}
